<form class="ui form container" method="POST" action={{action}}>
        <h4 class="ui dividing header">Informação do Cinema</h4>
        <div class="{{#unless cinema}} required {{/unless}} field">
            <label>Nome</label>
            <input type="text" name="name" 
                {{#if cinema}} value="{{cinema.name}}" readonly
                {{else}} placeholder="nome do Cinema" required{{/if}}
            />
        </div>
        <div class="{{#unless cinema}} required {{/unless}} field">
            <label>Cidade Localização</label>
            <input type="text" name="cidade_localizacao" 
                {{#if cinema}} value="{{cinema.cidade_localizacao}}"
                {{else}} placeholder="Cidade onde está localizado o cinema" required{{/if}}
            />
        </div>
    <div class="{{#unless cinema}} required {{/unless}} field">
        <label>Numero de salas</label>

            {{#if cinema}} <input readonly type="number" name="nrsalas" value="{{cinema.nrsalas}}"
            {{else}}<input type="number" name="nrsalas" placeholder="Numero de Salas" required{{/if}}
        />
    </div>
        {{#if cinema}}
            <button class="ui button" type="submit"> <i class="backward icon"></i>Voltar</button>

        {{else}}
           <!-- <input type="hidden" value = "{{cidade_localizacao}}" id="cidade_localizacao" name="cidade_localizacao"  >
            <input type="hidden" value = "{{name}}" id="name" name="name"  -->
            <button class="ui button" type="submit"> <i class="plus icon"></i> Gravar</button>
        {{/if}}

 </form>