<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
  {{> menu this.menuState }}
     <div class="ui segment">
     <h4 class="ui dividing header">Cinemas Registados</h4>
          {{#each cinemas}}
              <div class="ui middle aligned animated selection list container">
            <form class="ui form container" method="POST" action={{action}}></form>
                 <div class="ui grid">
                    <div class="two wide column">
                        <div class="ui small image floated left"><img src="/OTRA/images/Camera_cinema_48.png"></div>
                    </div>
                    <div class="eight wide column">
                        <a href="/OTRA/cinemas/{{id}}">{{name}}</a>
                        {{#if cidade_localizacao}}<div class="description">{{cidade_localizacao}}</div>{{/if}}
                        {{#if nrsalas}}<div class="description">Total de Salas : {{nrsalas}} </div>{{/if}}
                    </div>
                    {{#if ../menuState.user}}
                     <div class="six wide column">
                      <form method="POST" action={{action}}>   
                        <div class="ui right button">
                            <!--<input type="hidden" value = "{{name}}" id="name" name="name">
                            <input type="hidden" value ="{{cidade_localizacao}}" id="cidade_localizacao" name="cidade_localizacao"> -->
                            <input type="hidden" name="rem_id_cinema" value={{_id}}>
                            <input type="hidden" name="rem_rev_cinema" value={{_rev}}>
                            <button class="ui button" type="submit" method="POST" action="{{id}}"> <i class="minus icon"></i>Remover</button>
                        </div>
                     </form>
                     </div>
                    {{/if}}
                    </div class>
                </div>
          {{/each}}
      </div>
    </div>
     {{#if menuState.user}}
     <div class="ui container">
      <div class="ui right floated button" data-tooltip="Registar Cinema" data-position="left center">
        <a href="/OTRA/cinema/new.hbs"><i class="plus icon"></i> Criar </a>
      </div>
     </div>
     {{/if}}
s    </div>
  </body>
</html>
