<!doctype html>
<html lang="en">
<head>
    {{> head}}
</head>






<body style="background-image:url(http://thewaycom.com.br/novosite/wp-content/uploads/2016/12/audiovisual.jpg)">
<body bgcolor="#E6E6FA">


{{> menu this.menuState }}
<div class="">
    <ul  style="color: white;" > <div  style="text-align: center;">
        {{#if menuState.user}}
        {{#if data.isfav}}
            <form action="/OTRA/filmes/movies/{{data.id}}" method="POST">
                <input type="hidden" value = "{{data.id}}" id="movieId" name="movieId"  >
                <input type="hidden" value = false id="toadd" name="toadd"  >
                <div class="ui right floated basic blue button"  data-tooltip="Registar Filme" data-position="left top" >

                    <button class="ui button" type="submit" > <i class="minus icon"> </i> Indisponibilizar para Sessão</button>
                </div>  </form>
        {{else}}

            <form action="/OTRA/filmes/movies/{{data.id}}" method="POST">
                <input type="hidden" value = "{{data.id}}" id="movieId" name="movieId"  >
                <input type="hidden" value = true id="toadd" name="toadd"  >
            <div class="ui right floated basic blue button"  data-tooltip="Registar Filme" data-position="left top" >

            <button class="ui button" type="submit"> <i class="plus icon"> </i> Disponibilizar para Sessão</button>
        </div>  </form>
        {{/if}}
{{/if}}
            <h1><b>{{data.originalTitle}}</b></h1>

            <td><img width='250px' src='{{data.img}}'/></td>
            <br><b>Release Date: </b>{{data.releaseDate}}
            </br>
        </div>

        <br><b>Overview: </b>{{data.overView}}</br>

        <table class="table table-bordered" style="margin-top: 20px; text-align: center; width: 400px;" align="center">

            <td><b>Cast Members</b>
            </td>
            <td><b>Character</b>
            </td>
            {{#each data.cast.cast}}
                <tr>
                    <td>
                        <a style="color: white;" href = '/actors/{{id}}'>
                            {{name}}
                        </a>
                    <td style="color: white;">{{character}}</td>
                    </td>
                </tr>
            {{/each}}
        </table>

        <div id="all">


            <div>
                <form style="color: black; padding-top: 20pt">

                    <input type="hidden" value="{{data.originalTitle}}" id="movieName">
                    <input type="hidden" value = "{{data.id}}" id="movieId">

                </form>
            </div>
        </div>


    </ul>
</div>