<html>
    <head>

    </head>
    <body>
        <ul>

            <h1><b>{{originalTitle}}</b></h1>

            <img width='250px' src='{{img}}'/>


                <form action="/movies/{{id}}/sessionsadd" method="get" id="bt">

                <button type="submit" >Post Sessions</button>
                </form>
            <br><b>Release Date: </b>{{releaseDate}}

            <br><b>Overview: </b>{{overView}}</br>


            <br><b>Cast Members</b></br>
            <table>

            {{#each cast.cast}}
                <tr>
                <td>

                    <a >

                        {{name}}
                    </a><td>(as {{character}})</td>

                </td>
                </tr>

            {{/each}}
            </table>
        </ul>
    </body>
</html>